<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GitHub Ynov Vue</title>
    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="assets/bootstrap-4.1.3-dist/css/bootstrap.css" />
    <script src="assets/bootstrap-4.1.3-dist/js/bootstrap.bundle.js"></script>
    <!-- PERSO -->
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/callAPI.js"></script>
    <script src="js/classRepo.js"></script>
  </head>

  <body>
    <div class="container" id="app">
      <!-- ENTETE ET FILTRES -->
      <div class="row justify-content-center">
        <h1>Application GitHub Ynov</h1>
      </div>

      <div class="row justify-content-center">
        Login : <input type="text" v-model="loginGithub"/>
        Password : <input type="password" v-model="mdpGithub" />
        <button class="btn btn-primary" v-on:click="chargerRepos">Se connecter</button>
      </div>

      <div class="row justify-content-center">
        <ul>
          <li>
            Choix projet
          </li>
          <li>
            Choix période
          </li>
          <li>
            Choix compte
          </li>
        </ul>
      </div>

      <!-- CONTENU -->
      <div class="row justify-content-center mb-3" v-for="(repo, id) in listeRepos">
        <div class="card">
          <h5 class="card-header justify-content-between">
            <span class="mr-5">{{repo.utilisateur}}</span>
            <a v-bind:href="repo.url">{{repo.url}}</a>
          </h5>
          <div class="card-body">
            <h5 class="card-title">{{repo.nom}}</h5>

            <div class="accordion" v-bind:id="'accordion' + id">
              <div v-bind:id="'heading' + id">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" v-bind:data-target="'#collapse' + id" aria-expanded="true" v-bind:aria-controls="'collapse' + id" v-on:click="repo.getCommits()">
                    Commits
                  </button>
                </h5>
              </div>
              <div v-bind:id="'collapse' + id" class="collapse" v-bind:aria-labelledby="'heading' + id" v-bind:data-parent="'#accordion' + id">
                  <p v-for="commit in repo.commits">
                    {{commit.commit.message}}
                  </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
